body{
    background-color: rgb(209, 227, 243);
}
#Clockcontainer{
    height:40vw;
    width:40vw;;
    background-color:blue;
    margin:auto;
    margin-top:4vw;
    background: url('images/clock.png');
    background-size:100%;
    position:relative;
}
.hour,.minute,.second
{
    border-radius:10px;
    background:black;
    position:absolute;
    transform-origin:bottom;
}
.hour{
    width: 2.7%;
    height: 30%;
    left: 48.45%;
    top: 20%;
    transform-origin:bottom;
    opacity: 0.8;
}
.minute{
    width: 2.2%;
    height: 33%;
    left: 48.7%;
    top: 17.5%;
    transform-origin:bottom;
    opacity: 0.8;
}
.second{
    width: 2%;
    height: 42%;
    left: 48.9%;
    top: 9%;
    transform-origin:bottom;
    opacity: 0.8;
}
